@import url('https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shabnam', monospace;

}
body{
    position: relative;
}